{% extends 'common/base_pdf.html' %}

{% block styles %}
div.container>table>tbody>tr>td {
    padding: 5px 10px;
}
{% endblock styles %}

{% block content %}
    <table class="request" cellpadding="0" cellspacing="0" style="width: 948px;">
        <tr>
            <td colspan="9" style="text-align: right;">
                <u>注文番号：
                    {{ data.order.order_no }}
                </u>
            </td>
        </tr>
        <tr>
            <td colspan="9" style="text-align: right;">
                <u>
                    {{ data.heading.publish_date }}
                </u>
            </td>
        </tr>
        <tr>
            <td colspan="9" class="center" style="font-size: 24px;">
                <b>注&nbsp;&nbsp;文&nbsp;&nbsp;書</b>
            </td>
        </tr>
        <tr>
            <td colspan="9">
                （乙）
            </td>
        </tr>
        <tr>
            <td colspan="9">
                <u>
                    {{ data.heading.partner_name }}
                </u>
                御中
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="4">
                （甲）
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="4">
                {{ data.heading.company_name }}
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="4">
                {{ data.heading.company_address1 }}
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="4">
                {{ data.heading.company_address2 }}
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="4">
                <span style="min-width: 120px; display: inline-block;">TEL:{{ data.heading.tel }}</span>
                FAX:03-6809-3238
            </td>
        </tr>
        <tr>
            <td colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
            <td>作成者</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
            <td class="left top border_right"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
            <td class="left border_right"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
            <td class="left bottom border_right"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9">下記の通り注文致しますので、ご了承の上、折り返し注文請書をご送付下さい。</td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">業務名称</td>
            <td colspan="7" class="left top border_right">
                {{ data.heading.project_name }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">作業期間</td>
            <td colspan="7" class="left top border_right">
                {{ data.heading.start_date }} ～ {{ data.heading.end_date }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">委託業務責任者（甲）</td>
            <td colspan="3" class="left top">
                {{ data.heading.master }}
            </td>
            <td colspan="2" class="center left top">連絡窓口担当者（甲）</td>
            <td colspan="2" class="left top border_right">
                {{ data.heading.middleman }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">委託業務責任者（乙）</td>
            <td colspan="3" class="left top">
                {{ data.heading.partner_master }}
            </td>
            <td colspan="2" class="center left top">連絡窓口担当者（乙）</td>
            <td colspan="2" class="left top border_right">
                {{ data.heading.partner_middleman|default:'' }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">作業責任者</td>
            <td colspan="7" class="left top border_right">
                {{ data.heading.member_name }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">業務委託料金</td>
            <td colspan="7" class="left top border_right">
                {% if data.heading.is_hourly_pay %}
                    <br/>
                    {{ data.heading.allowance_base_memo }}
                    <br/>
                    {% if data.heading.allowance_other_memo %}
                        {{ data.heading.allowance_other_memo }}
                    {% endif %}
                    <br/><br/>作業報告書に基づく稼動実費精算とする。<br/>
                {% elif data.heading.is_fixed_cost %}
                    <br/><br/>
                    {{ data.heading.allowance_base_memo }}
                    <br/><br/><br/>
                {% else %}
                    {{ data.heading.allowance_base_memo }}<br/>
                    {{ data.heading.allowance_overtime_memo }}<br/>
                    {{ data.heading.allowance_absenteeism_memo }}<br/>
                    {{ data.heading.calculate_type_comment|default:'' }}<br/>
                    {{ data.heading.allowance_time_memo }}<br/>
                    {% if data.heading.allowance_other_memo %}
                        {{ data.heading.allowance_other_memo }}<br/>
                    {% endif %}
                    {{ data.heading.comment }}<br/>
                    作業報告書に基づく稼動実費精算とする。
                {% endif %}
                <br/>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">作業場所</td>
            <td colspan="7" class="left top border_right">
                {{ data.heading.location }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">納入物件</td>
            <td colspan="7" class="left top border_right">
                {{ data.heading.delivery_properties_comment }}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center left top">支払条件</td>
            <td colspan="7" class="left top border_right">
                <pre style="min-height: 135px;">{{ data.heading.payment_condition_comments }}</pre>
            </td>
        </tr>
        <tr>
            <td colspan="9" class="top">
                <pre style="min-height: 170px;">{{ data.heading.contract_items_comments }}</pre>
            </td>
        </tr>
    </table>
{% endblock content %}